{% extends "layouts/head.html" %}
{% block title %}About HaDeS Benz{% endblock %}
{% block content %}
    <!-- Start: MAIN CONTENT -->
    <div class="content">
      <div class="container">
        <div class="page-header">
          <h1>The HaDeS cars</h1>
        </div>
        <div class="row">
          <div class="span8">
              <img src="https://res.cloudinary.com/carsguide/image/upload/f_auto,fl_lossy,q_auto,t_cg_hero_large/v1/editorial/mercedes-%3Damg-c63-s-coupe-chris-benny-smp-%286%29.jpg" class="thumbnail bottom-space">
          </div>
         <div class="span4">
            <h4><p align="justify">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HaDes Benz is India's leading car search venture that helps users view cars that are right for them. The website carries rich automotive content such as specs and prices and pictures of all car brands and models available in India.
                HaDes Benz has launched many innovative features to ensure that users get an immersive experience of the car model before visiting a dealer showroom.
                Besides the above consumer product features
            </p></h4>
             <p><br></p>
            <h4><p align="justify">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 Our vision is to construct a complete ecosystem for consumers and car manufacturers, dealers and related businesses such that consumers have easy and complete access to not only buying cars, but also manage their entire ownership experience.
            </p></h4>
          </div>
        </div>
      </div>
    </div>
    <!-- End: MAIN CONTENT -->
{% endblock %}
    