{% extends "layouts/head.html" %}
{% block title %}AMG Models{% endblock %}
{% block content %}
    <!-- End: HEADER -->
    <!-- Start: MAIN CONTENT -->
    <div class="content">
      <!-- Start: PRODUCT LIST -->
        <div class="container">
          <div class="page-header">
            <h2>AMG Sedans</h2>
          </div>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG E 63 S 4MATIC.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG E 63 S 4MATIC+</h3>
                    <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3982cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.33 crore onwards</p>

                  </div>
                  <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG E 63 S 4MATIC+') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG CLA 45 4MATIC.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG CLA 45 4MATIC</h3>
                    <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2143cc  Automatic  petrol </p>
                      </div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 31.40 lakh onwards</p>
                  </div>
                  <div class="widget-footer">
                    <p align="center">
                        <a href="{{url_for('product',name = 'Mercedes-AMG CLA 45 4MATIC') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>
                 </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG C 43 4MATIC.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG C 43 4MATIC</h3>
                    <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1198cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.32 crore onwards</p>
                  </div>
                  <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG C 43 4MATIC') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG C 63 S.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG C 63 Sedan</h3>
                    <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1198cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.78 crore onwards</p>
                  </div>
                  <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG C 63 S') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
           <div class="page-header">
            <h2> AMG Roadsters</h2>
          </div>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG SLC 43.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG SLC 43</h3>
                     <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6208cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 2.20 crore onwards</p>
                  </div>
                <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG SLC 43') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>

                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG GT Roadster.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG GT Roadster</h3>
                    <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3982cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.54 crore onwards</p>
                  </div>
                <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG GT Roadster') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>

                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG GT R.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG GT R</h3>
                     <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3982cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.90 crore onwards</p>
                  </div>
                <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG GT R') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>

                </div>
              </li>
            </ul>
          </div>
          <div class="page-header">
            <h2>AMG SUV</h2>
          </div>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG GLA 45 4MATIC.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG GLA 45 4MATIC</h3>
                    <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3982cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.20 crore onwards</p>
                  </div>
                <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG GLA 45 4MATIC') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>

                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG GLS 63 4MATIC.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG GLS 63 4MATIC</h3>
                     <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3982cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.25 crore onwards</p>
                  </div>
                <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG GLS 63 4MATIC') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG G 63 4MATIC.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG G 63 4MATIC</h3>
                     <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3982cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.40 crore onwards</p>
                  </div>
                <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG G 63 4MATIC') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="page-header">
            <h2>AMG Coupé</h2>
          </div>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG S 63 Coupé.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG S Class 63 Coupé</h3>
                     <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1198cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.78 crore onwards</p>
                  </div>
                <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG S Class 63 Coupé') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG GLE 43 Coupe.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG GLE 43 4MATIC Coupe</h3>
                     <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3982cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.80 crore onwards</p>
                  </div>
                <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG GLE 43 Coupe') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/Mercedes-AMG GLC 43 4MATIC Coupe.jpg" alt="product name">
                  <div class="caption">
                    <h3>Mercedes-AMG GLC 43 4MATIC Coupe</h3>
                     <p><h5>Specifications:</h5></p>
                    <div>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2950cc  Automatic  petrol </p>
                      </div>
                       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ 1.50 core onwards</p>
                  </div>
                <div class="widget-footer">
                    <p align="center">
                      <a href="{{url_for('product',name = 'Mercedes-AMG GLC 43 4MATIC Coupe') }}" class="btn btn-primary">Book a Test Drive now</a>&nbsp;
                    </p>
                </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <!-- End: PRODUCT LIST -->
    </div>
    <!-- End: MAIN CONTENT -->
{% endblock %}