{% extends "layouts/head.html" %}
{% block title %}HaDeS Benz{% endblock %}
{% block content %}
    <!-- Start: MAIN CONTENT -->
    <div class="content">
      <!-- Start: slider -->
      <div class="slider">
        <div class="container-fluid">
          <div id="heroSlider" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span3 marketting-info">
                      <h4>MERCEDES-BENZ C63 S COUPE</h4>
                      <p align="justify">
                              The AMG twins the sharpest, strongest, most exciting engine in its class with an absurdly friendly, approachable chassis, masses of real-world speed fun, and now, it has the tech and the gearbox to live up to the rest of the package. It’s a firm ride, but by no means stiff enough to put us off.
                      </p>
                    </div>
                    <div class="span9">
                      <img src="https://res.cloudinary.com/carsguide/image/upload/f_auto,fl_lossy,q_auto,t_cg_hero_large/v1/editorial/mercedes-%3Damg-c63-s-coupe-chris-benny-smp-%286%29.jpg" class="thumbnail">
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span3 marketting-info">
                      <h4>THE GLE COUPE</h4>
                      <p>
                        Mercedes-Benz has continued with their product offensive in India and now have the largest product portfolio in the Indian luxury car market. The latest addition to the line-up is the Mercedes GLE 450 AMG Coupe. The performance SUV aims to handle like a coupe while retaining the versatility of an SUV.
                      </p>
                      <h1>
                        <a href="product.html" class="btn">Learn more</a>
                      </h1>
                    </div>
                    <div class="span9">
                      <img src="https://www.mercedes-benz.co.in/passengercars/mercedes-benz-cars/models/gle/gle-coupe/facts-and-lines/orangeart-edition/_jcr_content/par/videoimageslider_dd4/slides/videoimageslide_3ac/image.MQ6.12.20180521145217.jpeg" class="thumbnail">
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span3 marketting-info">
                      <h4>THE E CLASS.</h4>
                      <p>
                        It’s the fifth generation of the car Mercedes bigwigs acknowledge as the heart of the company.
                        No pressure here, then. Although it looks very much like a larger C-Class or smaller S-Class, worryingly so depending on your point of view,
                        the latest E-Class is a stellar technological statement.
                      </p>
                      <h1>
                        <a href="product.html" class="btn">Learn more</a>
                      </h1>
                    </div>
                    <div class="span9">
                      <img src="https://m.atcdn.co.uk/vms/media/w900/966090c6a08745f38f41c57777f97221.jpg" class="thumbnail" >
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span3 marketting-info">
                      <h4>CONCEPT CAR SPECIAL EDITION.</h4>
                      <p>
                       review
                      </p>
                      <h1>
                        <a href="product.html" class="btn">Learn more</a>
                      </h1>
                    </div>
                    <div class="span9">
                      <img src="/static/img/pexels-photo-241316.jpeg" class="thumbnail">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End: slider -->
      <!-- Start: PRODUCT LIST -->
        <div class="container">
          <div class="page-header">
            <h2>Our Vehicle</h2>
          </div>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/S-SEDAN-CATEGORY-HERO-3-1-D.jpg" alt="product name">
                  <div class="caption">
                    <h3>S class</h3>
                    <p align="justify">
                      Mercedes Benz S-Class lifts the veil of mist from the road, the contours of the S-class stand out in sharp relief.
                      The upright radiator grille topped by the unmistakable star herald in the new dawn, A new day is breaking with a new era of mobility
                    </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/C-SEDAN-CATEGORY-HERO-2-1-D.jpg" alt="product name">
                  <div class="caption">
                    <h3>C class</h3>
                    <p align="justify">
                      Mercedes Benz C-Class also stands for an attitude it needs no attention but pays all attention. Its innovative and foresighted systems
                      keeps track of everything. It is totally without fuss and effortlessly superior to others at this range
                    </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/2018-S-MAYBACH-SEDAN-CATEGORY-HERO-1-1-D.jpg" alt="product name">
                  <div class="caption">
                    <h3>MAYBACH</h3>
                    <p align="justify">
                      A Mercedes-Maybach carries itself as elegantly as it carries its passengers.
                      It's not merely stretched but artfully, and aerodynamically, sculpted to command the eye as well as the road.
                      Brilliant new details elevate its appeal from every angle.
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/s class amg.jpg" alt="product name">
                  <div class="caption">
                    <h3>AMG S CLASS </h3>
                    <p align="justify">
                      Exciting lines underpin this two-door model's design. Dominance and sensual purity combine to lend the vehicle irresistible presence and effortlessly superior sportiness.
                      Equally impressive is the combination of high driving dynamics, ambitious lightweight construction and groundbreaking efficiency.
                    </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/2018-C-AMG-SEDAN-CATEGORY-HERO-1-1-D.jpg" alt="product name">
                  <div class="caption">
                    <h3>AMG C CLASS</h3>
                    <p align="justify">
                      Extremely sporty design, a grippy shape with a heavily contoured rim and intuitive operation are the key attributes of the new AMG steering wheel in nappa leather, which comes as standard equipment.
                      It has a flattened bottom section and is perforated in the grip area.
                    </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img src="/static/img/2018-E-WAGON-CATEGORY-HERO-3-1-D.jpg" alt="product name">
                  <div class="caption">
                    <h3>E CLASS WAGON</h3>
                    <p align="justify">
                      E-Class is sophisticated, confidently stylish and sporty.
                      The elongated bonnet coupled with a roof flowing into a sensual, broad-shouldered tail end creates an exciting silhouette.
                      The powerfully extended vehicle body is characterised by short overhangs, stylish and dynamic interpretation of the feature line.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <!-- End: PRODUCT LIST -->
    </div>
    <!-- End: MAIN CONTENT -->
{% endblock %}
